.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	border: 0.25rem solid transparent;
	border-radius: 0.5rem;
	padding-bottom: 5rem;
	border-color: var(--lighten-grey);
}

.container.row {
	grid-column: 1/-1;
}

.name {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--tertiary-color);
}

.counter {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background-color: var(--secondary-color);
	border-radius: 50%;
	text-align: center;
}

.timer {
	display: flex;
	gap: 0.25rem;
	margin-left: auto;
}

.timer::after {
	content: '\0023F1';
}

.tasks {
	display: flex;
	flex-direction: column;
}

.container.row .tasks {
	flex-direction: row;
	gap: 2rem;
}
