.container {
	display: grid;
	grid-template-columns: 1fr 0.15fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'name handle'
		'description description'
		'label estimated';
	gap: 1rem;
	background-color: var(--primary-color);
	border-radius: 0.5rem;
	box-shadow: -1rem 0.25rem 0.5rem var(--shadow-color);
	padding: 1rem;
	margin-top: 1rem;
	cursor: grab;
	transition: 125ms ease-in;
}

.container:hover {
	box-shadow: -1rem 1rem 1.5rem var(--shadow-color);
	transform: scale(1.025);
	z-index: 10;
	transition: 125ms ease-out;
}

.container.dragged {
	filter: opacity(0.5);
	box-shadow: none;
	transition: 250ms ease-in-out;
}

.name {
	display: flex;
	grid-area: 'name';
	justify-self: start;
	font-size: 1.25rem;
	color: var(--black);
	text-decoration: none;
	font-weight: 800;
	gap: 0.5rem;
}

.name[href*='http']::after {
	content: '\01F517';
}

.handle {
	grid-area: 'handle';
	justify-self: end;
	background-color: var(--black);
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
}

.description {
	grid-area: 'description';
	grid-column: 1/3;
}

.label {
	grid-area: 'label';
	justify-self: start;
	background-color: var(--lighten-green);
	color: var(--green);
	border-radius: 1rem;
	padding: 0.25rem 0.5rem;
}

.estimate {
	grid-area: 'estimated';
	display: flex;
	justify-self: end;
	gap: 0.25rem;
	color: var(--tertiary-color);
}

.estimate::after {
	content: '\0023F1';
}
