.container {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-self: flex-end;
}

.button {
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	color: var(--secondary-color);
	padding: 0;
	cursor: pointer;
}

.list {
	position: absolute;
	background-color: var(--secondary-color);
	border-radius: 0.5rem;
	right: 0;
	padding: 0;
	margin: 0;
	height: 0;
	overflow: hidden;
}

.list.expanded {
	height: 100%;
}
