.container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--primary-color);
	border-radius: 0.5rem;
	box-shadow: -0.5rem 0.5rem 1rem var(--shadow-color);
	width: 20rem;
	background-image: linear-gradient(90deg, var(--secondary-color), var(--secondary-color) 50%, var(--primary-color) 0);
	background-size: 200% 100%;
	background-position: 0%;
	cursor: pointer;
	transition: 150ms ease-in;
}

.container::after {
	content: '\00274C';
	margin-left: 1rem;
}

.container:hover {
	background: var(--secondary-color);
	transition: 150ms ease-in;
}

.text {
	color: var(--tertiary-color);
	word-wrap: break-word;
}
