:root {
	--primary-color: #ffffff;
	--secondary-color: #e6e6e8;
	--tertiary-color: #9e9fa4;
	--background-color: #f5f6f8;
	--shadow-color: rgba(0, 0, 0, 0.1);
	--base-font-size: 16px;
}
/*
@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #c6c6c6;
		--secondary-color: #4d4d4d;
		--background-color: #1b1e20;
	}
}
*/

html {
	font-size: var(--base-font-size);
}

body {
	display: grid;
	grid-template:
		'header' 5rem
		'table' 1fr;
	margin: 0;
	font-family: system-ui;
	background-color: var(--background-color);
}
